@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  font-weight: normal;
}

.ant-drawer-left {
  .ant-drawer-content-wrapper {
    left: 200px;
  }
}
.side-menu-collapsed {
  .ant-drawer-left {
    .ant-drawer-content-wrapper {
      left: 50px;
    }
  }
}
